[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
mypy = "*"
flake8-mypy = "*"
pytest = "*"
isort = "*"
typed-ast = "*"

[packages]

[requires]
python_version = "3.7"
